  <br>
  <br>
  <ul class="list-inline">
    <li>
      <h2>
        <p class="text-left">Paciente: </p>
      </h2>
    </li>
    <li>
      <h3>
        <p class="text-right"><%= @patient.nombre %> <%= @patient.apellido %></p>
      </h3>
     <li>
       Ingresado por <%= User.find(@patient.user_id).email%>

    </li>
  </ul>

  <%= link_to "Imprimir Historia Clinica completa", hcpaciente_path(@patient.id format: "pdf") %> 

  <table class="responsive-table">
    <thead>
    <tr>
      <th>CI</th>
      <th>Fecha Nacimiento</th>
      <th>Sexo</th>
      <th>Prestador</th>
      <th>Procedencia</th>
      <th>Fecha Ingreso al Sistema</th>
      <th>Fecha Ingreso al Programa de Trasplante</th>
      <th>Fnr</th>
      <th></th>
    </tr>

    </thead>

    <tbody>
      <tr>
        <td><%= @patient.ci %></td>
        <td><%= @patient.f_nacimiento%></td>
        <td><%= @patient.sexo %></td>
        <td><%= @patient.prestador %></td>
        <td><%= @patient.procedencia %></td>
        <td><%= @patient.created_at.strftime("%d-%m-%Y")%></td>
        <td><%= @patient.f_ingreso%></td>
        <td><%= @patient.fnr %></td>
       </tr>
		  
    </tbody>
  </table>

	<table class="responsive-table">
		<tbody>
				<tr>
				   <td><%= @patient.comentarios %></td>
				</tr>
			
		</tbody>	
	</table>

</div class="row">

 
  <% if user_signed_in? %>

    <% if @patient.user_id == current_user.id %>
      
      <%= link_to "Editar", edit_patient_path(@patient), class: 'btn btn-warning' %>
      <%= link_to "Eliminar", patient_path(@patient), method: :delete, data: {confirm: "Esta seguro?"}, class: 'btn btn-danger' %>
      <%= link_to "Atras", patients_path, class: 'btn btn-warning' %>
    <% end %>
  <% end %>
</div>


 <div class="panel-body">
    <ul class="nav nav-tabs">
      <% if @opcion == '1' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Datos Generales', patient_path(@patient, opcion: '1') %>
      </li>
      <% if @opcion == '2' %>
          <li class="active">
      <% else %>
          <li>
      <% end %>
        <%= link_to 'AP', patient_path(@patient, opcion: '2') %>
      </li>
      <% if @opcion == '3' %>
          <li class="active">
      <% else %>
          <li>
      <% end %>
        <%= link_to 'A Enf Hepatica', patient_path(@patient, opcion: '3') %>
      </li>
      <% if @opcion == '4' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'EA', patient_path(@patient, opcion: '4') %>
      </li>

      <% if @opcion == '5' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Enf Hepatica Actual', patient_path(@patient, opcion: '5') %>
      </li>
      <% if @opcion == '6' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Examen Fisico', patient_path(@patient, opcion: '6') %>
      </li>
      <% if @opcion == '7' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Tratamiento', patient_path(@patient, opcion: '7') %>
      </li>
      <% if @opcion == '8' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Paraclinica', patient_path(@patient, opcion: '8') %>
      </li>
      <% if @opcion == '9' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Examenes Complementarios', patient_path(@patient, opcion: '9') %>
      </li>
    </ul>
  </div>

  <br>

  <div class="container">
    
    <% case @opcion %>
    <% when '1' %>
        <%= link_to "Ingresar datos generales", new_patient_corevaluation_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.corevaluations %>

    <% when '2' %>
        <%= link_to "Ingresar Antecedentes Personales generales", new_patient_antecedent_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.antecedents %>
    
    <% when '3' %>
       <%= link_to "Ingresar Antecedentes de la Enfermedad Hepatica", new_patient_antecedent_hepatic_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.antecedent_hepatics %>

    <% when '4' %>
       <%= link_to "Ingresar datos generales de la Enfermedad Actual", new_patient_actual_disease_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.actual_diseases %>

    <% when '5' %>
       <%= link_to "Ingresar datos de la Enfermedad Hepatica actual", new_patient_actual_hepatic_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.actual_hepatics %>

    <% when '6' %>
       <%= link_to "Ingresar dados del Examen Fisico", new_patient_examen_fisico_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.examen_fisicos %>

    <% when '7' %>
        <%= link_to "Ingresar Tratamiento Farmacologico actual", new_patient_farmacologico_treatment_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.farmacologico_treatments %>

    <% when '8' %>
        <%= link_to "Ingresar Examens de Laboratorio", new_patient_laboratory_exam_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.laboratory_exams %>

    <% when '9' %>
         <%= link_to "Ingresar Examenes Comlementarios", new_patient_complementarios_exam_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>
        <%= render @patient.complementarios_exams %>

    <% end %>

  </div>




