  <br>
  <br>
  <ul class="list-inline">
    <li>
      <h2>
        <p class="text-left">Paciente: </p>
      </h2>
    </li>
    <li>
      <h3>
        <p class="text-right"><%= @patient.nombre %> <%= @patient.apellido %></p>
      </h3>
     <li>
       Ingresado por <%= User.find(@patient.user_id).email%>

    </li>
  </ul>

  <%= link_to "Imprimir Historia Clinica completa", hcpaciente_path(@patient.id) %> 

  <table class="responsive-table">
    <thead>
    <tr>
      <th>CI</th>
      <th>Fecha Nacimiento</th>
      <th>Sexo</th>
      <th>Prestador</th>
      <th>Procedencia</th>
      <th>Fecha Ingreso al Sistema</th>
      <th>Fecha Ingreso a lista Trasplante</th>
      <th>Fnr</th>
      <th></th>
    </tr>

    </thead>

    <tbody>
      <tr>
        <td><%= @patient.ci %></td>
        <td><%= @patient.f_nacimiento%></td>
        <td><%= @patient.sexo %></td>
        <td><%= @patient.prestador %></td>
        <td><%= @patient.procedencia %></td>
        <td><%= @patient.created_at.strftime("%d-%m-%Y")%></td>
        <td><%= @patient.f_ingreso%></td>
        <td><%= @patient.fnr %></td>
       </tr>
		  
    </tbody>
  </table>

	<table class="responsive-table">
		<tbody>
				<tr>
				   <td><%= @patient.comentarios %></td>
				</tr>
			
		</tbody>	
	</table>

</div class="row">

 
  <% if user_signed_in? %>

    <% if @patient.user_id == current_user.id %>
      
      <%= link_to "Editar", edit_patient_path(@patient), class: 'btn btn-warning' %>
      <%= link_to "Eliminar", patient_path(@patient), method: :delete, data: {confirm: "Esta seguro?"}, class: 'btn btn-danger' %>
      <%= link_to "Atras", patients_path, class: 'btn btn-warning' %>
    <% end %>
  <% end %>
</div>




 <div class="panel-body">
    <ul class="nav nav-tabs">
      <% if @opcion == '1' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Datos Generales', patient_path(@patient, opcion: '1') %>
      </li>
      <% if @opcion == '2' %>
          <li class="active">
      <% else %>
          <li>
      <% end %>
        <%= link_to 'AP', patient_path(@patient, opcion: '2') %>
      </li>
      <% if @opcion == '3' %>
          <li class="active">
      <% else %>
          <li>
      <% end %>
        <%= link_to 'A Enf Hepatica', patient_path(@patient, opcion: '3') %>
      </li>
      <% if @opcion == '4' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'EA', patient_path(@patient, opcion: '4') %>
      </li>

      <% if @opcion == '5' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Enf Hepatica Actual', patient_path(@patient, opcion: '5') %>
      </li>
      <% if @opcion == '6' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Examen Fisico', patient_path(@patient, opcion: '6') %>
      </li>
      <% if @opcion == '7' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Tratamiento', patient_path(@patient, opcion: '7') %>
      </li>
      <% if @opcion == '8' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Paraclinica', patient_path(@patient, opcion: '8') %>
      </li>
      <% if @opcion == '9' %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to 'Examenes Complementarios', patient_path(@patient, opcion: '9') %>
      </li>
    </ul>
  </div>

  <br>

  <div class="container">
    <% case @opcion %>
    <% when '1' %>
       
        <%= render @patient.corevaluations %>
        <%= link_to "Ingresar datos generales", new_patient_corevaluation_path(@patient), class: 'btn btn-warning' %>
        <%= link_to "Cerrar", patient_path(@patient), class: 'btn btn-info' %>

    <% when '2' %>
    
    <% when '3' %>
  
    <% when '4' %>

    <% when '5' %>

    <% when '6' %>

    <% when '7' %>

    <% when '8' %>

    <% when '9' %>
  
    <% end %>
  </div>




